#menu{
	box-shadow: 0 1px 3px 0 #000000;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
	background:#fff;
	opacity:0.97;
}
.head{
	width:1024px;
	margin:0 auto;
}
.head .logo
{
	position:relative;
	left:25px;
	top:30px;
}

.left
{
	float:left;
	height:78px;
	width:700px;
}
 .right {
    margin-left: 700px;
    min-width:  340px;
}

#nav{
	float:left;
	font-size: 14px;
    height: 78px;
    line-height: 78px;
}
#nav li {
    float: left;
	margin-right:1px;
	list-style:none
}
#nav li > a {
    display: block;
    height: 78px;
    padding: 0 17px;
}
#nav li > a.active {
    background: url("../images/navbottom.jpg") no-repeat bottom center;
    color: #5bbd5d;
}
 .fix:after {
	clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
#intro{
	padding: 40px 0 40px 0px;
	margin-top:15px;
}
.list{
	display: inline;
    float: left;
    margin: 0 0px 0 0px;
    width: 285px;
	padding: 0 0 0 95px;
	background:url("../images/icon.png") no-repeat -110px -15px;
}
.list:hover{
	background:url("../images/icon_h.png") no-repeat -110px -15px;
	color:#5bbd5d;
}
.list_pos1:hover{
	background:url("../images/icon_h.png") no-repeat -100px -128px;
}
.list_pos2:hover{
	background:url("../images/icon_h.png") no-repeat -105px -268px;
}
.list dt {
    padding:0 0 0 0px;
	font-size:24px;
}

.list dd {
    line-height: 20px;
	padding: 0px 0 0 0;
	margin-top:20px;
	width:180px;
}
.list_pos1{
	background:url("../images/icon.png") no-repeat -100px -128px;
	width:275px;
}
.list_pos1 dd{
	
}
.list_pos2{
	width:100px;
	background:url("../images/icon.png") no-repeat -105px -268px;
}
.list_pos2 dd{
	
}
#content{
	margin:0 auto;
	width:1024px;
}
#footer{
	width:100%;
	background:#f5f5f5;
}
.fwarp{
	width:1004px;
	margin:0 auto;
	background:#f5f5f5;
	padding:50px 0px 50px 40px;
}
#footer .flist{
	display: inline;
    float: left;
    margin: 0 20px 0 0;
    width: 270px;
	padding: 0 0 0 0;
	color:#333333;
	
}
#footer  .flist dt {
    line-height: 20px;
    padding: 0 0 5px;
	font-size:12px;
}
 #footer .flist dd {
    line-height: 20px;
	font-size:12px;
}
.inline,.consult{
	display:inline-block;
	height:84px;
	width:180px;
	line-height:84px;
	text-indent:90px;
	background:#ededed url(../images/icon.png) no-repeat -110px -400px;
}
.consult{
	margin: 0 0 0 20px;
	background:#ededed url(../images/icon.png) no-repeat -110px -520px;
}
.inline:hover{
	background:#ededed url(../images/icon_h.png) no-repeat -109px -400px;
}
.consult:hover{
	background:#ededed url(../images/icon_h.png) no-repeat -109px -520px;
}